[Desktop Entry]
Type=Application
Categories=Settings;System;
Name=YaST
Icon=yast
GenericName=Control Center
Exec=/usr/bin/xdg-su -c /sbin/yast2
Encoding=UTF-8
Comment=Manage system-wide settings
