[Desktop Entry]
Type=Service
Name=YaST
Icon=yast
GenericName=Administrator Settings
Exec=/sbin/yast2
X-KDE-RootOnly=true
X-KDE-System-Settings-Parent-Category=system
X-KDE-ServiceTypes=KCModule

